// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";

.body-font {
    font-family: "Flexo-Regular",arial,sans-serif;
    font-weight: light;
    color: #424242;
    font-size: 16px;
}

.headers-font {
    font-family: "Flexo-Regular",arial,sans-serif;
    font-weight: light;
    color: #30a7d7;;
    font-size: 35px;
}

// $headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
