// Specific CSS for your home-page

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20,20,20);
  color: white;
}

.a-link-to {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 150px;
  line-height: 2em;
  opacity: 0.2;
  transition: 0.3s;
}

.buy {
  background-color: rgb(70, 233, 30);
  color: black;
}

.buy:hover {
  color: black;
}

.sell {
  color: white;
  background-color: rgb(245, 8, 8);
}

.sell:hover {
  color: white;
}

.a-link-to:hover {
  text-decoration: none;
  box-shadow: 0 0 30px white;
  opacity: 0.8;
  transition: 0.1s;
}

.container-home-page {
  text-align: center;
}

.navbar-brand {
  padding: 0;
}

h1 {
  padding-top: 2%;
  text-transform: uppercase;
  margin-bottom: 4.5rem;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 10px;
}

.btn-ghost:hover {
  opacity: 1;
}

.home-list-items {
  list-style: none;
  text-align: left;
  margin-left: 300px;
}

.img-home {
  margin: 1rem 0;
}
