<div class="container-home-page">
  <h1>Find the pokemon that will lead you to the victory</h1>
  <%= link_to "Buy a Pokemon", pokemons_path, class: "a-link-to" %>
  <%= link_to "Sell a Pokemon", new_pokemon_path, class: "a-link-to" %>
</div>
