<div class="container-home-page">
  <h1>Which Pokémon will lead you to victory?</h1>

  <h2>
    <%= link_to "Buy a Pokémon", pokemons_path, class: "a-link-to buy" %>
    <%= link_to "Sell a Pokémon", new_pokemon_path, class: "a-link-to sell" %>
  </h2>
</div>
