<div class="container-home-page">
  <h1>Which Pokémon will lead you to victory?</h1>

<%= image_tag "https://mmos.com/wp-content/uploads/2021/07/pokemon-unite-key-art-banner.jpg", class: "img-home" %>

  <p>This is a platform where you can buy Pokémon to complete your team, and get yourself ready to compete in high elo competitions. </p>
  <ul>
  <p>The concept is really simple! You have 2 options:</p>
    <li class="home-list-items">You can buy Pokémon to build your team.</li>
    <li class="home-list-items">You're done fighting and you want to get money out of your time invested in the games.</li>
  </ul>
  <h2>
    <%= link_to "Buy a Pokémon", pokemons_path, class: "a-link-to buy" %>
    <%= link_to "Sell a Pokémon", new_pokemon_path, class: "a-link-to sell" %>
  </h2>
</div>
