.btn-black {
  color: white;
  font-size: 16.8px;
  line-height: 125%;
  padding: 20px, 20px, 20px;
  border-radius: 5px;
  background: #313131;
  font-family: "Flexo-Demi",arial,sans-serif;
  border: none;
}

.btn-black:hover {
  color: rgba(211, 211, 211, 0.568);
}
