.navbar-lewagon {
  height: 10vh;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 5rem;
  width: 100px;
  transform: scale(1.8);
}

.dropdown-toggle {
  cursor: pointer;
}
